.home-community-join h2 {
  padding-top: 15px;
  font-size: 14.641px;
  color: #111;
  font-family: Playfair Display, serif;
  font-weight: 500;
  line-height: 1.033px;
  letter-spacing: unset;
  font-style: normal;
  font-style: italic;
}
.home-community-header {
  margin-left: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  padding-top: 30px;
}
.slideInFromLeft {
  animation: slideInFromLeft 0.5s ease-in-out;
}
.slideInFromRight {
  animation: slideInFromRight 0.5s ease-in-out;
}
.home-community-social a {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  border: 0;
  padding: 4.136px;
  border-radius: 7.091px;
  background-color: #ffb4b4;
}
.home-community-social img {
  width: 17.727px;
  height: 17.727px;
}
.home-community-tiktok-img {
  transform: translate(3px) scale(1.1);
}
.home-community-social {
  display: flex;
  gap: 0 5.91px;
  width: auto !important;
}
.home-community-contact {
  background-color: #ffb4b4;
  margin-left: 20px;
  padding: 5px 30px;
  border: none;
  border-radius: 10px;
  font-weight: 500;
  font-size: 20px;
}
.home-community-contact span {
  font-family: Nunito Sans, Helvetica;
}
.link-button {
  display: inline-flex;
  padding: 9px 37.45px 10.69px 37px;
  align-items: flex-start;
  border-radius: 10px;
  border: 0.976px solid var(--p-3, #ffb4b4);
  background: var(--p-3, #ffb4b4);
}
@media (min-width: 768px) {
  .home-community-join h2 {
    font-size: 30px;
    color: #111;
    font-family: Playfair Display, serif;
    font-weight: 400;
    line-height: 34.5px;
    letter-spacing: 1px;
    font-style: normal;
    font-style: italic;
    transform: translateY(-3px);
  }
  .home-community-social a {
    padding: 7px;
    border-radius: 12px;
  }
  .home-community-social a img {
    height: 30px;
    width: 30px;
  }
  .home-community-tiktok-img {
    transform: translate(4px) scale(115%);
  }
}
@media (max-width: 768px) {
  .link-button span {
    font-size: 8.784px;
    color: #000;
    font-family: Nunito Sans, Helvetica;
    font-weight: 600;
    line-height: 14.494px;
    letter-spacing: unset;
    font-style: normal;
    text-align: center;
  }
  .link-button {
    padding: 4.392px 18.276px 5.217px 18.057px;
  }
}
