a,
button {
  cursor: pointer;
  text-decoration: none !important;
}
#product-list {
  
}
#product-list .product-list-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}
#product-list .product-list-header {
  padding: 50px 0 25px 4%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  z-index: 1;
}
#product-list .list-title {
  display: flex;
  flex-direction: unset;
  align-items: center;
  gap: 20px;
  justify-content: start;
  width: 100%;
  white-space: pre;
}
#product-list .heading-best {
  font-size: 30px;
  color: #111;
  font-family: Nunito Sans, Helvetica;
  font-weight: 600;
  line-height: 39px;
  letter-spacing: unset;
  font-style: normal;
  margin: 0;
}
#product-list .link-button {
    display: inline-flex;
    padding: 9px 37.45px 10.69px 37px;
    align-items: flex-start;
    border-radius: 10px;
    border: 0.976px solid var(--p-3, #ffb4b4);
    background: var(--p-3, #ffb4b4);
}
#product-list .link-button span {
  font-size: 18px;
  color: #000;
  font-family: Nunito Sans, Helvetica;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: unset;
  font-style: normal;
  text-align: center;
}
#product-list .product-list-action {
    width: 100%;
    height: 25px;
    margin-right: 25px;
    display: flex;
    flex-direction: unset;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    margin-bottom: 10px;
  }
  #product-list .button-previous,
  #product-list .button-next {
    display: flex;
    flex-direction: unset;
    align-items: center;
    width: 25px;
    height: 25px;
    justify-content: center;
    flex-shrink: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background: #fff;
  }
  #product-list .btn-prev.disable,
  #product-list .btn-next.disable {
    filter: invert(100%) sepia(0%) saturate(0) hue-rotate(0deg) brightness(100%)
      contrast(100%);
  }
  #product-list .btn-prev {
    background-image: url(../../assets/icons/left.svg);
  }
  #product-list .btn-prev,
  #product-list .btn-next {
    display: inline-block;
    width: 100%;
    height: 100%;
    background-size: cover;
  }
  #product-list .button-next {
    margin-right: 15px;
  }
  #product-list .button-previous,
  #product-list .button-next {
    display: flex;
    flex-direction: unset;
    align-items: center;
    width: 25px;
    height: 25px;
    justify-content: center;
    flex-shrink: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background: #fff;
  }
  #product-list .btn-prev.disable,
  #product-list .btn-next.disable {
    filter: invert(100%) sepia(0%) saturate(0) hue-rotate(0deg) brightness(100%)
      contrast(100%);
  }
  #product-list .btn-next {
    background-image: url(../../assets/icons/right.svg);
  }
  #product-list .btn-prev,
  #product-list .btn-next {
    display: inline-block;
    width: 100%;
    height: 100%;
    background-size: cover;
  }
  
@media (max-width: 768px) {
  #product-list {
    padding: 18.159px 0 18.159px 14.527px;
  }
  #product-list .product-list-header {
    flex-direction: unset;
    margin-bottom: 28px;
  }

  #product-list .list-title {
    padding: 0;
  }
  #product-list .heading-best {
    font-size: 14.641px;
    color: #111;
    font-family: Nunito Sans, Helvetica;
    font-weight: 700;
    line-height: 19.033px;
    letter-spacing: unset;
    font-style: normal;
  }
  #product-list .link-button {
    padding: 4.392px 18.276px 5.217px 18.057px;
  }
  #product-list .link-button span {
    font-size: 8.784px;
    color: #000;
    font-family: Nunito Sans, Helvetica;
    font-weight: 600;
    line-height: 14.494px;
    letter-spacing: unset;
    font-style: normal;
    text-align: center;
  }
}
